@font-face {
    font-family: sharp;
    src: url(fonts/SharpGrotesk-Medium20.otf);
}
.container-fluid {
    max-width: 1200px;
  }
  
header {
    background-color: black;
    min-height: 70px;
}

/* Formateado de la sección 1*/ 

#cta-section1 {
    padding-top: 70px;
}

#cta-section1 {
    padding-top: 70px;
}

h3, h2 {
    font-family: sharp;
}
#rafa {
    max-width:inherit;
    height: auto;
}

/* Overwriting bootstrap button style */ 
.btn {
    margin-right: 0.5em !important;
    margin-bottom: 1em !important;
}
.btn-primary {
    background-color: black !important;
    border-color: black !important;
}

/* Formateado de la sección 2*/ 
#seccion2 {
    max-height: 300px;
}

#imagen-zorro {
    max-width: 450px;
    max-height: auto;
    text-align: center;
    padding-right: 20px;
}

#fondo-sec2 {
    background-color: #D9983F;
}

#texto-sec2 {
    padding: 30px 10px;
}

#texto-sec2 h3{
    color: white;
    font-size: 1.6em;
}

#texto-sec2 p{
    color: white;
}