@font-face {
    font-family: sharp;
    src: url(fonts/SharpGrotesk-Medium20.otf);
}
.container-fluid {
    max-width: 1200px;
  }
  
header {
    background-color: black;
    min-height: 70px;
}

#navbar-content {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.menu ul {
    margin: 0px 0px;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 20px;
    text-align: center;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

#logo {
    width: 220px;
    margin-right: 0px;
}

/* Formateado de la cta-section */ 

#cta-section {
    display: flex;
    justify-content: center;
}
#cta-section1 {
    padding-top: 70px;
}

#cta-section1 p {
    padding-top: 1rem;
    padding-bottom: 1rem; 
    font-size: 1.3rem;
}

#cta-section2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h4, h3, h2, li a {
    font-family: sharp;
}

#rafa {
    max-width:inherit;
    height: auto;
}

/* Sobrescribir los estilos de boton de bootstrap */ 
.btn {
    margin-right: 0.5em !important;
    margin-bottom: 1em !important;
}
.btn-primary {
    background-color: black !important;
    border-color: black !important;
}

/* Formateado de la sección 2*/ 
#seccion2 {
    max-height: fit-content;
    justify-content: center;
}

#imagen-zorro {
    max-width:inherit;
    max-height: auto;
    align-items: center;
    margin: 0 auto;
}

#fondo-sec2 {
    background-color: #E2B16E;
}

#texto-sec2 {
    padding: 30px 30px;
    margin-top: auto;
    margin-bottom: auto;
}

#texto-sec2 h3{
    color: white;
    font-size: 1.6em;
}

#texto-sec2 p{
    color: white;
}

/* Formateado de los servicios */
#servicios {
    display: flex;
    justify-content:center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.pastilla {
    border-style: solid;
    border-width: 1px;
    border-radius: 1em;
    border-color: gray;
    margin-right: 20px;
    transition: all .25s ease-in-out;
}

.pastilla:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    transform: scale(1.03);
}

.contenido-past {
    padding: 30px;
}

/* Formateado de la seccion 4 */
#contenido-sec4 {
    justify-content: center;
}
#textos-seccion4 {
    text-align: center;
}

#buho {
    justify-content: center;
}

/* Formateado de la seccion 5 */
#section5 {
    justify-content: center;
}
.point4 {
    text-align: center;
}

.punto-color {
    font-family: sharp;
    font-size: 2rem;
    background-color: #E2B16E;
    border-radius: 50%;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 3.6rem;
}

.texto-punto {
    padding: 20px;
}

/* Formateado de la seccion formulario */
#sec6 {
    margin-top: 2rem;
}

#sec6 .row {
    justify-content: center;
}

#sec6 p, #sec6 form, #sec6 form input {
    text-align: center;
}

#sec6 input {
    min-width: 400px;
    border-top-style:none;
    border-left-style: none;
    border-right-style: none;
    color: gray ;
    border-bottom-color: gray;
}

#input2 {
    margin-top: 1rem;
}

form .btn {
    margin-top: 1.3rem;
    min-width: 100px;
}