@font-face {
    font-family: sharp;
    src: url(fonts/SharpGrotesk-Medium20.otf);
}
.container-fluid {
    max-width: 1200px;
  }

#cta-section1 {
    padding-top: 70px;
}

#cta-section1 {
    padding-top: 70px;
}

header {
    background-color: black;
    min-height: 70px;
}

h3 {
    font-family: sharp;
}
/* Overwriting bootstrap button style */ 
.btn {
    margin-right: 0.5em !important;
    margin-bottom: 1em !important;
}
.btn-primary {
    background-color: black !important;
    border-color: black !important;
}

#rafa {
    max-width: 500px;
    height: auto;
    
}